{
  "$schema": "http://json.schemastore.org/swcrc",
  "module": {
    "type": "commonjs",

    // These are defaults.
    "strict": false,
    "strictMode": true,
    "lazy": false,
    "noInterop": false
  },
  "exclude": [".test.js", ".test.ts"],
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "tsx": false
    }
  }
}